.loading-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.div-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.footer-space {
    margin-right: 1%;
}

.copyright {
    margin-top: 0;
    font-weight: 400;
    text-align: center;
}

.header-img {
    width: 100%;
    margin: 0;
}

.header-gradient {
    margin: 0;
    height: 100px;
    /*background: linear-gradient( rgba(255,255,255,1) 35%, rgba(218,226,237,1) 100%); */
    /*background: linear-gradient(rgba(178,195,219,1) 35%, rgba(218,226,237,1) 100%);*/
    /*background-color: #dae2ed;*/
    background-color: #182c68;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}

.parent-header {
    line-height: 0px;
    margin-bottom: 10px;
}

.header-name {
    height: 85%;
    margin-bottom: 10px;
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 7px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
}

.container {
    padding: 2px 2%;
}

.card-title {
    /*font-family: "Candara", Candara;*/
    color: #182c68;
    margin-bottom: 0;
}

.card-text {

    font-size: large;
    text-align: justify;
    text-justify: inter-word;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.button-contact {
    background-color: #182c68;
    color: white;
    font-size: x-large;
    padding: 12px 28px;
    border-radius: 7px;
    border: 0cm;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-contact:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #4d65ab;
}

.slide-container {
    width: 70%;
    margin: auto;
}

.each-slide>div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 400px;
}

.image-slide {
    height: 100%;
}

.title-slide {
    text-align: center;
    margin-bottom: 0;
}

.top-button {
    /*display: none; */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    height: 50px;
    width: 50px;
    font-size: 2em;
    font-weight: bold;
    border: none;
    outline: none;
    text-align: center;
    background-color: white;
    color: #182c68;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top-button:hover {
    background-color: #182c68;
    color: white;
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

blockquote {
    quotes: "\201E""\201D""\00BB""\00AB";
}

.div-yt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.card-grid {
    display: grid;
    grid-template-columns: 2fr 3fr
}

.card-one {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.card-two {
    grid-row: 1;
    grid-column: 2;
    font-size: large;
    text-align: justify;
    text-justify: inter-word;
}

.button-album {
    background-color: #182c68;
    color: white;
    font-size: small;
    padding: 12px 28px;
    border-radius: 7px;
    border: 0cm;
    transition-duration: 0.4s;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-album:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #4d65ab;
}

.sidebar {
    position: absolute;
    right: -50vw;
    height: 100vh;
    width: 50vw;
    transition: right 0.3s ease-in-out;
    background-color: white;
}

.sidebar.open {
    right: 0;
}

.content.open {
    right: 50vw;
}

.close-side {
    background-color: white;
    color: #182c68;
    border-width: 0;
    font-size: 30px;
    border: 0cm;
    font-weight: 300;
}

.form-title {
    text-align: center;
    color: #182c68;
}

.div-form {
    padding-left: 15%;
    padding-right: 15%;
}

.input-form {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: medium;
}

.error {
    text-align: center;
    color: red;
}